.keypad {
  display: grid;
  gap: 1.4rem;
  grid-template-columns: repeat(4, 50px);
  margin-top: 0.4rem;
}

button {
  background-color: rgb(175, 169, 169);
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  cursor: default;
}
button:active {
  background-color: rgb(106, 108, 108);
}

.last-pad {
  display: flex;
  gap: 2rem;
}

header {
  background-color: rgb(175, 169, 169);
  color: black;
  width: fit-content;
  padding: 0.6rem 2rem;
}

header:empty {
  display: none;
}
